body {
    font-family: 'Rubik', sans-serif;
}

.container {
    display: flex;
    flex-direction:column;
    justify-content:center;
    margin: 5rem auto;
    width: 800px;
    text-align: center;
}